.destacados-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .destacados-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .destacado-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 30%;
  }
  
  .destacado-item h3 {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  