@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --fuente1: 'Roboto', sans-serif;
  --colorverde: #D1CBB9;
  --colorblanco: #FAFAFA; 
  --colornaranja: #E5B97D;
  --colorgris: #4C4B5E;
  --colorgrisdos: #9594a8;
  --colornegro: #0B1215;

}

*{
  margin:0px;
  padding:0px;
}
.destacados-container {
    margin: 20px;
    padding: 20px;
    background-color: var(--colorblanco);
    
  }
  
  .destacados-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .destacado-item {
    border: 1px solid var(--colorgris);
   
    padding: 10px;
    margin: 10px;
    width: 30%;
  }
  
  .destacado-item h3 {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  