/* Login.css */
:root {
  --fuente1: 'Roboto', sans-serif;
  --colorverde: #D1CBB9;
  --colorblanco: #FAFAFA; 
  --colornaranja: #E5B97D;
  --colorgris: #4C4B5E;
  --colornegro: #0B1215;
  

}

div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  body {
    background-color: var(--colorverde);
  }